* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    /* padding: 32px; */
    min-height: 100vh;
    background-image: linear-gradient(-50deg, black, black 10%, darkred, darkred, black, black);
}
img {
    position: absolute;
    top: -20px;
    left: -40px;
    width: 250px;
    height: 250px;
}
h1 {
    padding: 40px;
    margin-top: 400px;
    color: whitesmoke;
    /* position: absolute; */
    /* top: 400px; */
    font-size: 28px;
    text-align: center;
    font-weight: 600;
}
h2 {
    margin: auto;
    padding: 32px;
    color: white;
    text-align: center;
    font-weight: 400;
}
.container {
    margin: 300px auto;
    display: flex;
    font-size: 22px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 100%;
    /* border-radius: 30px; */
    /* border: 5px solid; */
    /* border-top: 5px solid;
    border-bottom: 5px solid; */
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: linear-gradient(270deg, darkred, black); */
}
form {
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
input {
    font-family:Arial, Helvetica, sans-serif;
    height: 35px;
    width: 50px;
    margin: 8px;
    font-size: 18px;
}
/* Για Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=button] {
    background:none;
    font-size: 22px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 20px;
}
#result {
    padding: 10px;
    /* background-color: black; */
    /* border: 1px solid whitesmoke; */
    color: white;
    border-radius: 20px;
    font-size: 22px;
}